.card-body {
	padding-bottom: 0
}

.card .table {
	font-size: 14px;
	margin-bottom: 0;
}

.card .table td:first-child,
.card .table th:first-child {
	border-left: 0;
}

.card .table td:last-child,
.card .table th:last-child {
	border-right: 0;
}

.card .btn-sm {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1.4;
}

.interface-list {
	padding: 0;
	list-style: none;
}

.method-list {
	padding: 0;
	list-style: none;
	font-size: 80%;
}

.title {
	display: inline;
	font-size: 1.4rem;
	line-height: 38px;
}

.badge {
	transition: none;
}

.attribute .form-control {
	height: auto;
	line-height: 1;
}

.attribute .form-control:focus {
	outline: rgb(0, 123, 255) solid 2px;
	box-shadow: none;
}

[v-cloak] {
	display: none;
}

.no-select {
	user-select: none;
}

@media (max-width: 991px) {
	.sidebar {
		height: 200px;
		margin-top: 1.5rem;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		overflow-y: scroll;
		overscroll-behavior: contain;
		-webkit-overflow-scrolling: touch;
	}
}

@media (min-width: 992px) {
	.header {
		height: 54px;
	}

	.row-contain {
		height: calc(100vh - 54px);
	}

	.content,
	.sidebar {
		height: 100%;
		overflow-y: scroll;
		scrollbar-width: thin;
		overscroll-behavior: contain;
		-webkit-overflow-scrolling: touch;
	}
}

::-webkit-scrollbar {
	height: 12px;
	width: 14px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	background-color: #434953;
	border-radius: 10px;
	z-index: 12;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	min-height: 32px;
	min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
	background: #4E5157;
}

body {
	background-color: #161920;
	color: #acacac;
}

.header {
	background-color: #096295;
	border-bottom: 2px solid #67c1f5;
	color: #fff;
}

.header .form-control:focus,
.header .form-control {
	border: 1px solid rgba(103, 193, 245, 0.7);
	background-color: #171b22;
	color: #fff;
}

.header .form-control:focus {
	box-shadow: 0 0 20px rgba(147, 211, 245, 0.50);
}

.header a {
	color: inherit;
}

.card {
	background: #22252b;
	color: #e5e5e5;
	border: 0;
	border-radius: 0;
}

.card-header {
	background: #4e5155;
	border: 0;
}

.card hr {
	border-top: 1px solid #4e5155;
}

.card .table {
	color: #acacac;
	border-color: #161920;
}

.card .table .custom-control-label {
	color: #ddd;
}

.card .table th,
.card .table td {
	border-color: inherit;
}

.card .table tr:nth-child(odd) td {
	background: #1d2027;
}

.attribute:hover td {
	border-bottom-color: rgba(255, 255, 255, 0.4);
}

.card .custom-select,
.card .btn-outline-primary,
.card .form-control {
	background-color: #232323;
	border: 1px solid #535354;
	color: #cda869;
	fill: currentColor;
	word-break: break-all;
}

.card .table .form-control {
	background-color: transparent;
}

.interface-filtered {
	background-color: #2b3647;
	color: #acacac;
}

.interface-list a {
	color: #acacac;
}

.custom-control-label::before {
	background-color: transparent;
}

.no-email {
	color: hsl(45, 94%, 40%);
	background-color: hsl(46, 100%, 10%);
	border: 0;
	font-size: 13px;
	padding: 5px 10px;
}
