.card-body {
	padding-bottom: 0
}

.card .table {
	font-size: 14px;
	margin-bottom: 0;
}

.card .table td:first-child,
.card .table th:first-child {
	border-left: 0;
}

.card .table td:last-child,
.card .table th:last-child {
	border-right: 0;
}

.card .table tr:last-child td {
	border-bottom: 0;
}

.card .btn-sm {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1.4;
}

.interface-list {
	padding: 0;
	list-style: none;
}

.method-list {
	padding: 0;
	list-style: none;
	font-size: 80%;
}

.title {
	display: inline;
	font-size: 1.4rem;
	line-height: 38px;
}

.badge {
	transition: none;
}

.attribute .form-control {
	height: auto;
	line-height: 1;
}

.attribute .form-control:focus {
	outline: rgb(0, 123, 255) solid 2px;
	box-shadow: none;
}

[v-cloak] {
	display: none;
}

.no-select {
	user-select: none;
}

@media (max-width: 991px) {
	.sidebar {
		height: 200px;
		margin-top: 1.5rem;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		overflow-y: scroll;
		overscroll-behavior: contain;
		-webkit-overflow-scrolling: touch;
	}
}

@media (min-width: 992px) {
	.header {
		height: 54px;
	}

	.row-contain {
		height: calc(100vh - 54px);
	}

	.content,
	.sidebar {
		height: 100%;
		overflow-y: scroll;
		scrollbar-width: thin;
		overscroll-behavior: contain;
		-webkit-overflow-scrolling: touch;
	}
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 123, 255, 0.4);
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 123, 255, 1);
}
